commonroad/common/xml_definition_files/CommonRoadMap_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
__author__ = "Sebastian Maierhofer"
__copyright__ = "TUM Cyber-Physical System Group"
__credits__ = ["BMW Group CAR@TUM"]
__version__ = "3.0"
__maintainer__ = "Sebastian Maierhofer"
__email__ = "commonroad@lists.lrz.de"
__status__ = "released"

""" XSD for CommonRoad benchmark scenarios static information """
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!-- %%%%%%%%%%%%%%% auxiliary xsd elements %%%%%%%%%%%%%%% -->
    <!-- distance in meter (positive decimals) -->
    <xs:simpleType name="positiveDecimal">
        <xs:restriction base="xs:decimal">
            <xs:minExclusive value="0.0"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- %%%%%%%%%%%%%%% auxiliary CommonRoad elements %%%%%%%%%%%%%%% -->
    <xs:complexType name="point">
        <xs:sequence>
            <xs:element name="x" type="xs:decimal"/>
            <xs:element name="y" type="xs:decimal"/>
            <xs:element name="z" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="positionExact">
        <xs:all>
            <xs:element name="point" type="point"/>
        </xs:all>
    </xs:complexType>
    <!-- %%%%%%%%%%%%%%% main CommonRoad elements %%%%%%%%%%%%%%% -->
    <!-- lanelet -->
    <xs:simpleType name="lineMarking">
        <xs:restriction base="xs:string">
            <xs:enumeration value="dashed"/>
            <xs:enumeration value="solid"/>
            <xs:enumeration value="broad_dashed"/>
            <xs:enumeration value="broad_solid"/>
            <xs:enumeration value="unknown"/>
            <xs:enumeration value="no_marking"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="bound">
        <xs:sequence>
            <xs:element name="point" type="point" minOccurs="2" maxOccurs="unbounded"/>
            <xs:element name="lineMarking" type="lineMarking" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="laneletRef">
        <xs:attribute name="ref" type="xs:integer" use="required"/>
    </xs:complexType>
    <xs:complexType name="trafficLightRef">
        <xs:attribute name="ref" type="xs:integer" use="required"/>
    </xs:complexType>
    <xs:complexType name="trafficSignRef">
        <xs:attribute name="ref" type="xs:integer" use="required"/>
    </xs:complexType>
    <xs:simpleType name="drivingDir">
        <xs:restriction base="xs:string">
            <xs:enumeration value="same"/>
            <xs:enumeration value="opposite"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="laneletAdjacentRef">
        <xs:attribute name="ref" type="xs:integer" use="required"/>
        <xs:attribute name="drivingDir" type="drivingDir" use="required"/>
    </xs:complexType>
    <xs:complexType name="stopLine">
        <xs:sequence>
            <xs:element name="point" type="point" minOccurs="0" maxOccurs="2"/>
            <xs:element name="lineMarking" type="lineMarking"/>
            <xs:element name="trafficSignRef" type="trafficSignRef" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="trafficLightRef" type="trafficLightRef" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="laneletType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="urban"/>
            <xs:enumeration value="interstate"/>
            <xs:enumeration value="country"/>
            <xs:enumeration value="highway"/>
            <xs:enumeration value="sidewalk"/>
            <xs:enumeration value="crosswalk"/>
            <xs:enumeration value="busLane"/>
            <xs:enumeration value="bicycleLane"/>
            <xs:enumeration value="exitRamp"/>
            <xs:enumeration value="mainCarriageWay"/>
            <xs:enumeration value="accessRamp"/>
            <xs:enumeration value="shoulder"/>
            <xs:enumeration value="driveWay"/>
            <xs:enumeration value="busStop"/>
            <xs:enumeration value="intersection"/>
            <xs:enumeration value="unknown"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="vehicleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="vehicle"/>
            <xs:enumeration value="car"/>
            <xs:enumeration value="truck"/>
            <xs:enumeration value="bus"/>
            <xs:enumeration value="motorcycle"/>
            <xs:enumeration value="bicycle"/>
            <xs:enumeration value="pedestrian"/>
            <xs:enumeration value="priorityVehicle"/>
            <xs:enumeration value="train"/>
            <xs:enumeration value="taxi"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="lanelet">
        <xs:sequence>
            <xs:element name="leftBound" type="bound"/>
            <xs:element name="rightBound" type="bound"/>
            <xs:element name="predecessor" type="laneletRef" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="successor" type="laneletRef" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="adjacentLeft" type="laneletAdjacentRef" minOccurs="0"/>
            <xs:element name="adjacentRight" type="laneletAdjacentRef" minOccurs="0"/>
            <xs:element name="stopLine" type="stopLine" minOccurs="0"/>
            <xs:element name="laneletType" type="laneletType" maxOccurs="unbounded"/>
            <xs:element name="userOneWay" type="vehicleType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="userBidirectional" type="vehicleType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="trafficSignRef" type="trafficSignRef" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="trafficLightRef" type="trafficLightRef" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
    </xs:complexType>
    <!-- traffic signs -->
  <!-- German/Zamunda traffic signs -->
  <xs:simpleType name="trafficSignID">
      <xs:restriction base="xs:string">
	  <xs:enumeration value="101"/>
      <xs:enumeration value="102"/>
      <xs:enumeration value="103-10"/>
      <xs:enumeration value="103-20"/>
      <xs:enumeration value="108"/>
      <xs:enumeration value="114"/>
      <xs:enumeration value="123"/>
      <xs:enumeration value="124"/>
      <xs:enumeration value="125"/>
      <xs:enumeration value="131"/>
      <xs:enumeration value="133-10"/>
      <xs:enumeration value="133-20"/>
      <xs:enumeration value="138"/>
      <xs:enumeration value="142-10"/>
      <xs:enumeration value="145-50"/>
	  <xs:enumeration value="201"/>
	  <xs:enumeration value="205"/>
	  <xs:enumeration value="206"/>
	  <xs:enumeration value="208"/>
	  <xs:enumeration value="209"/>
      <xs:enumeration value="209-10"/>
      <xs:enumeration value="209-20"/>
      <xs:enumeration value="211-20"/>
	  <xs:enumeration value="215"/>
	  <xs:enumeration value="220-10"/>
	  <xs:enumeration value="220-20"/>
	  <xs:enumeration value="222-10"/>
	  <xs:enumeration value="222-20"/>
      <xs:enumeration value="223.2"/>
      <xs:enumeration value="223.2-50"/>
      <xs:enumeration value="223.2-51"/>
      <xs:enumeration value="224-50"/>
	  <xs:enumeration value="237"/>
	  <xs:enumeration value="239"/>
      <xs:enumeration value="240"/>
	  <xs:enumeration value="242.1"/>
	  <xs:enumeration value="242.2"/>
	  <xs:enumeration value="244.1"/>
	  <xs:enumeration value="244.2"/>
	  <xs:enumeration value="245"/>
	  <xs:enumeration value="250"/>
	  <xs:enumeration value="251"/>
	  <xs:enumeration value="253"/>
	  <xs:enumeration value="254"/>
	  <xs:enumeration value="255"/>
	  <xs:enumeration value="257-54"/>
	  <xs:enumeration value="259"/>
	  <xs:enumeration value="260"/>
	  <xs:enumeration value="261"/>
	  <xs:enumeration value="262"/>
	  <xs:enumeration value="264"/>
	  <xs:enumeration value="265"/>
	  <xs:enumeration value="266"/>
	  <xs:enumeration value="267"/>
      <xs:enumeration value="270.1"/>
      <xs:enumeration value="270.2"/>
      <xs:enumeration value="272"/>
      <xs:enumeration value="274"/>
      <xs:enumeration value="274.1"/>
      <xs:enumeration value="274.2"/>
	  <xs:enumeration value="275"/>
      <xs:enumeration value="276"/>
      <xs:enumeration value="277"/>
      <xs:enumeration value="278"/>
      <xs:enumeration value="280"/>
      <xs:enumeration value="281"/>
      <xs:enumeration value="282"/>
      <xs:enumeration value="283-10"/>
      <xs:enumeration value="283-30"/>
      <xs:enumeration value="286-30"/>
	  <xs:enumeration value="301"/>
	  <xs:enumeration value="306"/>
	  <xs:enumeration value="308"/>
      <xs:enumeration value="310"/>
      <xs:enumeration value="311"/>
      <xs:enumeration value="314"/>
      <xs:enumeration value="314-10"/>
      <xs:enumeration value="314-20"/>
      <xs:enumeration value="314-30"/>
      <xs:enumeration value="325.1"/>
      <xs:enumeration value="325.2"/>
      <xs:enumeration value="327"/>
      <xs:enumeration value="328"/>
      <xs:enumeration value="330.1"/>
      <xs:enumeration value="330.2"/>
      <xs:enumeration value="331.1"/>
      <xs:enumeration value="331.2"/>
      <xs:enumeration value="332"/>
      <xs:enumeration value="332.1"/>
      <xs:enumeration value="333"/>
      <xs:enumeration value="333-21"/>
      <xs:enumeration value="333-22"/>
      <xs:enumeration value="350"/>
      <xs:enumeration value="354"/>
      <xs:enumeration value="356"/>
      <xs:enumeration value="357"/>
      <xs:enumeration value="363"/>
      <xs:enumeration value="365-51"/>
      <xs:enumeration value="365-52"/>
      <xs:enumeration value="365-60"/>
      <xs:enumeration value="386.1"/>
      <xs:enumeration value="386.2"/>
      <xs:enumeration value="386.3"/>
      <xs:enumeration value="406-50"/>
      <xs:enumeration value="418-20"/>
      <xs:enumeration value="419-20"/>
      <xs:enumeration value="434-50"/>
      <xs:enumeration value="430-20"/>
      <xs:enumeration value="432-10"/>
      <xs:enumeration value="432-20"/>
      <xs:enumeration value="434"/>
      <xs:enumeration value="438"/>
      <xs:enumeration value="439"/>
      <xs:enumeration value="440"/>
      <xs:enumeration value="448"/>
      <xs:enumeration value="449"/>
      <xs:enumeration value="450-50"/>
      <xs:enumeration value="450-51"/>
      <xs:enumeration value="450-52"/>
      <xs:enumeration value="450-53"/>
      <xs:enumeration value="450-54"/>
      <xs:enumeration value="450-55"/>
      <xs:enumeration value="453"/>
      <xs:enumeration value="458"/>
      <xs:enumeration value="455.1-30"/>
      <xs:enumeration value="460-10"/>
      <xs:enumeration value="460-12"/>
      <xs:enumeration value="460-20"/>
      <xs:enumeration value="460-21"/>
      <xs:enumeration value="460-22"/>
      <xs:enumeration value="460-30"/>
      <xs:enumeration value="501-15"/>
      <xs:enumeration value="501-16"/>
      <xs:enumeration value="521-30"/>
      <xs:enumeration value="521-31"/>
      <xs:enumeration value="521-32"/>
      <xs:enumeration value="521-33"/>
      <xs:enumeration value="'525"/>
      <xs:enumeration value="531-10"/>
      <xs:enumeration value="531-20"/>
      <xs:enumeration value="531-21"/>
      <xs:enumeration value="533-22"/>
      <xs:enumeration value="550-20"/>
      <xs:enumeration value="600-35"/>
      <xs:enumeration value="600-30"/>
      <xs:enumeration value="600-31"/>
      <xs:enumeration value="600-32"/>
      <xs:enumeration value="600-34"/>
      <xs:enumeration value="600-38"/>
      <xs:enumeration value="605-10"/>
      <xs:enumeration value="605-20"/>
      <xs:enumeration value="605-11"/>
      <xs:enumeration value="625-10"/>
      <xs:enumeration value="625-11"/>
      <xs:enumeration value="625-12"/>
      <xs:enumeration value="625-13"/>
      <xs:enumeration value="625-20"/>
      <xs:enumeration value="625-21"/>
      <xs:enumeration value="625-22"/>
      <xs:enumeration value="625-23"/>
      <xs:enumeration value="626-10"/>
      <xs:enumeration value="626-20"/>
      <xs:enumeration value="626-30"/>
      <xs:enumeration value="626-31"/>
      <xs:enumeration value="628-10"/>
      <xs:enumeration value="629-10"/>
      <xs:enumeration value="629-20"/>
      <xs:enumeration value="720"/>
      <xs:enumeration value="1000"/>
	  <xs:enumeration value="1000-10"/>
	  <xs:enumeration value="1000-11"/>
	  <xs:enumeration value="1000-20"/>
	  <xs:enumeration value="1000-21"/>
	  <xs:enumeration value="1000-30"/>
	  <xs:enumeration value="1000-31"/>
	  <xs:enumeration value="1001-30"/>
	  <xs:enumeration value="1001-31"/>
	  <xs:enumeration value="1002-10"/>
      <xs:enumeration value="1002-11"/>
	  <xs:enumeration value="1002-12"/>
	  <xs:enumeration value="1002-13"/>
      <xs:enumeration value="1002-14"/>
	  <xs:enumeration value="1002-20"/>
      <xs:enumeration value="1002-21"/>
	  <xs:enumeration value="1002-22"/>
	  <xs:enumeration value="1002-23"/>
      <xs:enumeration value="1002-24"/>
	  <xs:enumeration value="1004-30"/>
	  <xs:enumeration value="1004-31"/>
      <xs:enumeration value="1004-33"/>
      <xs:enumeration value="1004-34"/>
      <xs:enumeration value="1004-35"/>
      <xs:enumeration value="1006-30"/>
	  <xs:enumeration value="1006-31"/>
      <xs:enumeration value="1006-32"/>
      <xs:enumeration value="1006-33"/>
      <xs:enumeration value="1006-34"/>
      <xs:enumeration value="1006-35"/>
      <xs:enumeration value="1006-36"/>
      <xs:enumeration value="1006-37"/>
      <xs:enumeration value="1006-38"/>
      <xs:enumeration value="1006-39"/>
      <xs:enumeration value="1007-31"/>
      <xs:enumeration value="1010-10"/>
	  <xs:enumeration value="1010-11"/>
	  <xs:enumeration value="1010-12"/>
	  <xs:enumeration value="1010-13"/>
	  <xs:enumeration value="1010-14"/>
	  <xs:enumeration value="1012-30"/>
      <xs:enumeration value="1012-31"/>
      <xs:enumeration value="1012-32"/>
      <xs:enumeration value="1012-33"/>
      <xs:enumeration value="1012-34"/>
      <xs:enumeration value="1012-35"/>
      <xs:enumeration value="1012-36"/>
      <xs:enumeration value="1012-37"/>
      <xs:enumeration value="1012-38"/>
	  <xs:enumeration value="1020-30"/>
	  <xs:enumeration value="1022-10"/>
	  <xs:enumeration value="1024-10"/>
	  <xs:enumeration value="1026-36"/>
	  <xs:enumeration value="1026-37"/>
	  <xs:enumeration value="1026-38"/>
      <xs:enumeration value="1031-52"/>
	  <xs:enumeration value="1040-30"/>
      <xs:enumeration value="1048-12"/>
      <xs:enumeration value="1049-13"/>
      <xs:enumeration value="1052-31"/>
      <xs:enumeration value="1053-33"/>
      <xs:enumeration value="1053-34"/>
      <xs:enumeration value="1053-35"/>
      <!-- US traffic signs -->
      <xs:enumeration value="R2-1"/>
      <xs:enumeration value="R3-4"/>
      <xs:enumeration value="CW20-1"/>
      <xs:enumeration value="R7-1"/>
      <xs:enumeration value="R7-4"/>
      <xs:enumeration value="R7-201a"/>
      <xs:enumeration value="R6-1L"/>
      <xs:enumeration value="R6-1R"/>
      <xs:enumeration value="R5-1"/>
      <xs:enumeration value="R3-2"/>
      <xs:enumeration value="R3-5R"/>
      <xs:enumeration value="R3-8b"/>
      <xs:enumeration value="R3-1"/>
      <xs:enumeration value="R4-7"/>
      <xs:enumeration value="W3-3"/>
      <xs:enumeration value="R8-3gP"/>
      <xs:enumeration value="R8-3"/>
      <xs:enumeration value="R3-5L"/>
      <xs:enumeration value="R3-27"/>
      <xs:enumeration value="W1-3L"/>
      <xs:enumeration value="W11-2"/>
      <xs:enumeration value="M6-2aL"/>
      <xs:enumeration value="W4-2R"/>
      <xs:enumeration value="R7-8"/>
      <xs:enumeration value="R7-107"/>
      <xs:enumeration value="R8-3C"/>
      <xs:enumeration value="R10-7"/>
      <xs:enumeration value="W1-6L"/>
      <!-- Spanish traffic signs -->
      <xs:enumeration value="r1"/>
      <xs:enumeration value="r2"/>
      <xs:enumeration value="r100"/>
      <xs:enumeration value="r101"/>
      <xs:enumeration value="r106"/>
      <xs:enumeration value="r107"/>
      <xs:enumeration value="r205"/>
      <xs:enumeration value="r301"/>
      <xs:enumeration value="r305"/>
      <xs:enumeration value="r307"/>
      <xs:enumeration value="r308"/>
      <xs:enumeration value="s13"/>
      </xs:restriction>
  </xs:simpleType>
    <xs:complexType name="trafficSign">
        <xs:sequence>
            <xs:element name="trafficSignElement" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="trafficSignID" type="trafficSignID"/>
                        <xs:element name="additionalValue" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="position" type="positionExact" minOccurs="0"/>
            <xs:element name="virtual" type="xs:boolean" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
    </xs:complexType>
    <xs:simpleType name="trafficLightColor">
        <xs:restriction base="xs:string">
            <xs:enumeration value="red"/>
            <xs:enumeration value="redYellow"/>
            <xs:enumeration value="green"/>
            <xs:enumeration value="yellow"/>
            <xs:enumeration value="inactive"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="trafficCycleElement">
        <xs:sequence>
            <xs:element name="duration" type="xs:positiveInteger"/>
            <xs:element name="color" type="trafficLightColor"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="trafficLightCycle">
        <xs:sequence>
            <xs:element name="cycleElement" type="trafficCycleElement" maxOccurs="unbounded"/>
            <xs:element name="timeOffset" type="xs:positiveInteger" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="trafficLight">
        <xs:sequence>
            <xs:element name="cycle" type="trafficLightCycle"/>
            <xs:element name="position" type="positionExact" minOccurs="0"/>
            <xs:element name="direction" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="right"/>
                        <xs:enumeration value="straight"/>
                        <xs:enumeration value="left"/>
                        <xs:enumeration value="leftStraight"/>
                        <xs:enumeration value="straightRight"/>
                        <xs:enumeration value="leftRight"/>
                        <xs:enumeration value="all"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="active" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
    </xs:complexType>
    <xs:complexType name="incoming">
        <xs:sequence>
            <xs:element name="incomingLanelet" type="laneletRef" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="successorsRight" type="laneletRef" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="successorsStraight" type="laneletRef" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="successorsLeft" type="laneletRef" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="isLeftOf" type="incomingRef" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
    </xs:complexType>
    <xs:complexType name="crossing">
        <xs:sequence>
            <xs:element name="crossingLanelet" type="laneletRef" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="incomingRef">
        <xs:attribute name="ref" type="xs:integer" use="required"/>
    </xs:complexType>
    <xs:complexType name="intersection">
        <xs:sequence>
            <xs:element name="incoming" type="incoming" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="crossing" type="crossing" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
    </xs:complexType>
    <!-- location -->
    <xs:complexType name="geoReference" mixed="true">
        <!-- mixed="true" allows text content AND elements like userData -->
    </xs:complexType>
    <xs:complexType name="additionalTransformation">
        <xs:sequence>
            <xs:element name="xTranslation" type="xs:decimal"/>
            <xs:element name="yTranslation" type="xs:decimal"/>
            <xs:element name="zRotation" type="xs:decimal"/>
            <xs:element name="scaling" type="positiveDecimal"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="geoTransformation">
        <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="geoReference" type="geoReference"/>
            <xs:element name="additionalTransformation" type="additionalTransformation"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="timeOfDay">
        <xs:restriction base="xs:string">
            <xs:enumeration value="unknown"/>
            <xs:enumeration value="night"/>
            <xs:enumeration value="day"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="weather">
        <xs:restriction base="xs:string">
            <xs:enumeration value="sunny"/>
            <xs:enumeration value="light_rain"/>
            <xs:enumeration value="heavy_rain"/>
            <xs:enumeration value="fog"/>
            <xs:enumeration value="snow"/>
            <xs:enumeration value="hail"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="underground">
        <xs:restriction base="xs:string">
            <xs:enumeration value="wet"/>
            <xs:enumeration value="clean"/>
            <xs:enumeration value="dirty"/>
            <xs:enumeration value="damaged"/>
            <xs:enumeration value="snow"/>
            <xs:enumeration value="ice"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="environment">
        <xs:sequence>
            <xs:element name="time" type="xs:time"/>
            <xs:element name="timeOfDay" type="timeOfDay"/>
            <xs:element name="weather" type="weather"/>
            <xs:element name="underground" type="underground"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="location">
        <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="geoNameId" type="xs:integer"/>
            <xs:element name="gpsLatitude" type="xs:decimal"/>
            <xs:element name="gpsLongitude" type="xs:decimal"/>
            <xs:element name="geoTransformation" type="geoTransformation" minOccurs="0"/>
            <xs:element name="environment" type="environment" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <!-- %%%%%%%%%%%%%%% root CommonRoad element %%%%%%%%%%%%%%% -->
    <xs:element name="commonRoad">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="location" type="location"/>
                <xs:element name="lanelet" type="lanelet" minOccurs="1" maxOccurs="unbounded"/>
                <xs:element name="trafficSign" type="trafficSign" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="trafficLight" type="trafficLight" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element name="intersection" type="intersection" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="commonRoadVersion" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="3.0"/> <!--3.0-->
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="benchmarkID" type="xs:string" use="required"/> <!--for RoadNetwork-->
            <xs:attribute name="date" type="xs:date" use="required"/>
            <xs:attribute name="author" type="xs:string" use="required"/>
            <xs:attribute name="affiliation" type="xs:string" use="required"/>
            <xs:attribute name="source" type="xs:string" use="required"/>
            <xs:attribute name="license" type="xs:string"/>
            <xs:attribute name="sourceLink" type="xs:string"/>
        </xs:complexType>
        <xs:key name="id">
            <xs:selector
                    xpath="./lanelet | ./trafficSign | ./trafficLight | ./trafficSign | ./trafficLight | ./intersection | ./intersection/incoming"/>
            <xs:field xpath="@id"/>
        </xs:key>
        <xs:keyref name="idref" refer="id">
            <xs:selector xpath=".//*"/>
            <xs:field xpath="@ref"/>
        </xs:keyref>
    </xs:element>
</xs:schema>
